link(rel="stylesheet", href='stylesheets/inbox.css')
link(rel="stylesheet", href="stylesheets/jqueryui/dark-hive/jquery-ui-1.8.13.custom.css")

script(src="http://www.google.com/jsapi")

script
  google.load("jquery", "1.6.1");
  google.load("jqueryui", "1.8.13");