#logout_confirm(title="Logout?")
  p 
    span(class="ui-icon ui-icon-alert", style="float:left; margin:0 7px 20px 0;")
    |Are you sure you want to log out ?

#profile.selectable(title="Profile")
  h1 Welcome #{user.getName()}
  br
  h2 Ships
  ol(id="ship_choose")


#shop(title="Shop")
  ol#shopping_selectable
    li(class="ui-widget-content") 
      p#capacity Capacity upgrade (+500)
        span placeholder gold
    li(class="ui-widget-content")
      p#strawberries Strawberries
        span placeholder gold
  #response
      

#messages(title="Messages")
  
  #left_inbox.box
  
  #right_message.box
    #message
      #from
        
      #date 
        
      #msgcontent
      
      #notice
      

#compose(title="Send a message")
  form.pretty(method="post", action="/sendMessage", id="messageForm")
    p 
      input(name="to", placeholder="Recipient", id="to", required)
    p
      textarea(name="message", placeholder="Message", rows="10",required)
  #result
  

#trade.selectable(title="Trading Arena")
  #left_images.box
    #top_planet
      h2(id="planet_name") PlanetName
      p(id="planet_subtitle") Dwarf Agricultural Planet
      img(src="images/planets/planet1.png")
      
      #res_box
        ul
      
    #bottom_ship
      h3(id="ship_name") Your Ship
  
  #middle_trade.box
    #top_buy.selectable
      h3 What do you want to buy ?
      #buy_wrap
        ol(id="buy_choose")
          li(class="ui-state-default") 
            p Gold
          li(class="ui-state-default") 
            p Deuterium
          li(class="ui-state-default") 
            p Food
    
    #bottom_sell.selectable
      h3 What do you want to sell ?
      #sell_wrap
        ol(id="sell_choose")
          li(class="ui-state-default") 
            p Gold
          li(class="ui-state-default") 
            p Deuterium
          li(class="ui-state-default") 
            p Food
          
  #right_trade.box
  
    #sliders
      h3 How much to buy ? 
        span(id="buy_amount") 0 Units
      #slider_buy
    
      h3 How much to sell ? 
        span(id="sell_amount") 0 Units
      #slider_sell
      
    #res
      h3 Available Resources
      ul
        li Deuterium:
        li Gold: 
        li Food: 
        
    #info_box(title="Trade Aftermath")
    
    
    
      

#header  
  #title Subatomic Anarchy
  
  menu
    |Welcome #{user.getName()}
    li
      a#open_shop Shop
    li
      a#messages_link Inbox 
    li
      a#compose_link Compose Message
    li 
      a#profile_link Profile
    li 
      a#logout_link Logout

          


#container
  
  canvas(id="canvas", width="1200", height="600")

    
  #resources
    ul

  #chat
    #chatBox
            
    form(id="chatForm")
      input(type="text", id="chatInput", autocomplete="off")    
