#logout_confirm(title="Logout?")
  p 
    span(class="ui-icon ui-icon-alert", style="float:left; margin:0 7px 20px 0;")
    |Are you sure you want to log out ?

#profile(title="Profile")
  h1 Welcome #{session.user.username}
  br
  h2 Ships
  ol(id="ship_choose")

#header  
  #title Awesome Game
  
  menu
    |Welcome #{session.user.username}
    li
      a(href="inbox") Inbox
    li 
      a(id="profile_link") Profile
    li 
      a(id="logout_link") Logout
    li
      a(href='/about') About


#container
  
  canvas(id="canvas", width="1200", height="600")

    
  #resources
    ul
      
      
  
  #tabs(class="tabs-bottom")
    ul
      li
        a(href="#chat") Chat
      li
        a(href="#inbox") Inbox
      li
        a(href="#sent") Sent
        
    #chat
      #chat_wrap
        #chatBox
            
        form(id="chatForm")
          input(type="text", id="chatInput", autocomplete="off")
          //button(type="submit", class="slick-black") Send!
    
    #inbox
      p inbox here
    
    #sent
      p sent messages here

