!!! 5
html(lang="en")
  head
    title= "AwesomeGame | " + title

    link(rel="stylesheet", href="stylesheets/game.css")
    link(rel='stylesheet', href="stylesheets/jqueryui/dark-hive/jquery-ui-1.8.13.custom.css")

    script(src="http://www.google.com/jsapi")

    script(src="scripts/lib/easel.js")
    script(src="scripts/lib/socket.io.min.js")
    script(src="scripts/lib/namespace-plus.min.js")

    script
      google.load("jquery", "1.6.1")
      google.load("jqueryui", "1.8.13")


    script(src="scripts/helpers.js")

    script(src="scripts/Map.js")
    script(src="scripts/Player.js")

    script(src="scripts/socket_handler.js")
    script(src="scripts/dynamic_messenger.js")
    script(src="scripts/game.js")
    
  body(onload = "game_init();")
    - if(session && session.user)
      #header
        #logout
          |Logged in as #{session.user.username}
          a(href='/logout') Logout
    !{body}