#logout_confirm(title="Logout?")
  p 
    span(class="ui-icon ui-icon-alert", style="float:left; margin:0 7px 20px 0;")
    |Are you sure you want to log out ?

#header  
  #title Awesome Game
  
  menu
    |Welcome #{session.user.username}
    li 
      a(id="logout_link") Logout
    li
      a(href='/about') About


#container
  
  canvas(id="canvas", width="1200", height="600")

    
  #resources
    ul
      li Deuterium: #{me.resources.deuterium}
      li Gold: #{me.resources.gold}
      li Food: #{me.resources.food}
      
      
  
  #tabs(class="tabs-bottom")
    ul
      li
        a(href="#chat") Chat
      li
        a(href="#inbox") Inbox
      li
        a(href="#sent") Sent
        
    #chat
      p oh hai
      
    #inbox
      p inbox here
      
    #sent
      p sent messages here
    
    