!!! 5
html(lang="en")
  head
    title= "Subatomic Anarchy | " + title

    link(rel="stylesheet", href="stylesheets/game.css")
    link(rel='stylesheet', href="stylesheets/jqueryui/dark-hive/jquery-ui-1.8.13.custom.css")

    script(src="http://www.google.com/jsapi")

    script(src="scripts/lib/easel.js")
    script(src="scripts/lib/socket.io.min.js")
    script(src="scripts/lib/underscore.js")

    script
      google.load("jquery", "1.6.1")
      google.load("jqueryui", "1.8.13")


    script(src="scripts/game_ui.js")
    
    script(src="scripts/helpers.js")

    script(src="scripts/Map.js")
    script(src="scripts/Minimap.js")
    script(src="scripts/Player.js")
    script(src="scripts/Planet.js")

    script(src="scripts/socket_handler.js")
    script(src="scripts/dynamic_messenger.js")
    script(src="scripts/game.js")
    script(src="scripts/chat.js")
    
    
    
  body(onload = "game_init();")
    !{body}
