// Layout for the game. Use only when the person is logged in!

!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="stylesheets/game.css")
    link(rel="stylesheet", href="stylesheets/app.css")
    
    script(src="http://www.google.com/jsapi")
    script(src="scripts/easel.js")
    script(src="scripts/socket.io.min.js")
    
    script
      google.load("jquery", "1.6.1")
    
    body()
    
        #header
          #logout
            |Logged in as #{session.user.username}
            a(href='/logout') Logout
    
        !{body}