// Layout for the game. Use only when the person is logged in!

!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="stylesheets/game.css")
    link(rel="stylesheet", href="stylesheets/app.css")
    link(rel='stylesheet', href="stylesheets/jqueryui/dark-hive/jquery-ui-1.8.13.custom.css")
    
    script(src="http://www.google.com/jsapi")
    
    script(src="scripts/lib/easel.js")
    script(src="scripts/lib/socket.io.min.js")
    script(src="scripts/lib/namespace-plus.min.js")
    
    script
      google.load("jquery", "1.6.1")
      google.load("jqueryui", "1.8.13")
    
    body()
    
        #header
          #logout
            |Logged in as #{session.user.username}
            a(href='/logout') Logout
    
        !{body}