!!! 5
html(lang="en")
  head
    title= "AwesomeGame | " + title
    link(rel="stylesheet", href="stylesheets/screen.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    
    script(src="scripts/lib/namespace-plus.min.js")
    != partial(head)
    
  body(onload = "game_init();")
    - if(session && session.user)
      #header
        #logout
          |Logged in as #{session.user.username}
          a(href='/logout') Logout
    !{body}