!!! 5
html(lang="en")
  head
    title= "Subatomic Anarchy | " + title
    link(rel="stylesheet", href="stylesheets/screen.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    
    != partial(head)
    
  body
    !{body}