!!! 5
html(lang="en")
  head
    title= "AwesomeGame | " + title
    link(rel="stylesheet", href="stylesheets/screen.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    
    script(src="scripts/lib/namespace-plus.min.js")
    != partial(head)
    
  body
    !{body}