#header  
  #title Awesome Game : Map Editor
  
  menu
    |Welcome #{session.user.username}
    li
      a(id="message_link") Compose Message
    li 
      a(id="profile_link") Profile
    li 
      a(id="logout_link") Logout
    li
      a(href='/about') About

          

h1 Map Editor For Suhaib!

#container
  
  canvas(id="canvas", width="1200", height="600")

