!!! 5
html(lang="en")
  head
    title= "Subatomic Anarchy | " + title

    link(rel="stylesheet", href="stylesheets/game.css")
    link(rel="stylesheet", href="stylesheets/mapedit.css")
    link(rel='stylesheet', href="stylesheets/jqueryui/dark-hive/jquery-ui-1.8.13.custom.css")

    script(src="http://www.google.com/jsapi")

    script(src="scripts/lib/easel.js")
    script(src="scripts/lib/underscore.js")

    script
      google.load("jquery", "1.6.1")
      google.load("jqueryui", "1.8.13")
    
    
    script(src="scripts/game_ui.js")
    script(src="scripts/mapedit_ui.js")
    script(src="scripts/helpers.js")
    
    script(src="scripts/Map.js")
    script(src="scripts/Minimap.js")
    script(src="scripts/Planet.js")
    script(src="scripts/mapEdit.js")  
    
  body(onload = "init();")
    !{body}
    input#pname(type="text", style="position:absolute;")
    
    select#psize(style="position:absolute;")
      option(value="dwarf") Dwarf
      option(value="terrestrial") Terrestrial
      option(value="giant") Giant
    
    select#pkind(style="position:absolute;")
      option(value="factory") Factory
      option(value="agricultural") Agricultural
      option(value="mining") Mining
    
    input#pdeut(type="text", style="position:absolute;")
    input#pfood(type="text", style="position:absolute;")
    input#pgold(type="text", style="position:absolute;")
    
