script(src="scripts/ship.js")
//script(src="scripts/socket_handler.js")

#header
  #logout
    |Logged in as #{session.user.username}
    a(href='/logout') Logout
    
script
  console.log(socket);

#canv
  canvas(id="canvas", width="1100", height="650")