h1= title

#user!= "Logged in as " + session.user.username

#logout
  a(href='/logout') Logout
  
script(src="scripts/ship.js")
script(src="scripts/socket_handler.js")

script
  console.log(socket);


canvas(id="canvas", width="900", height="900")