/* line 3, ../sass/game.scss */
body {
  background: #333;
  background: url("../images/starfield.png") repeat-x fixed;
  color: #fff;
  font-size: 14px;
}

/* line 7, ../sass/game.scss */
canvas {
  border: 2px solid white;
}

/* line 12, ../sass/game.scss */
#header {
  height: 50px;
  color: #fff;
  font-size: 14px;
}
/* line 17, ../sass/game.scss */
#header #logout {
  float: right;
}
