@import "mixins.scss";

body {
  @include body_setup;  
}

h1 {
    color: #fff; 
}

.title {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

#title {
    padding-top: 50px;
    text-align: center;
}

#dialog-form {
    textarea {
      height: 120px;
    }
}

#dialog-form input, textarea {
    padding: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 400px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    @include border-radius(2px);
}

#demo button{
    float: right;
}

#messages, #sent_messages {
   font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
   font-size: 30px;
   
   ul {
     padding: 10px;     
     font-size: 10px;  
     list-style-type: none; 
        
     li {       
       background: #fff;
       margin: 10px 0 0 0;
       padding: 10px;
     }    
   
     h3 {
     color: #000;    
     }

     p {
       color: #999999;
       font-size: 19px;
     }
   }
}

